<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseUrl" value="https://demo.bnz.co.nz/client/" />
		<add key="Browser" value="Chrome" />
		<add key="ChrmDriverPathForSysPath" value="Drivers\chromedriver.exe" />
		<add key="ChromeDriverPath" value=".\Drivers\" />
		<add key="geckoDriverPath" value=".\Drivers\geckodriver.exe" />
	</appSettings>
</configuration>