<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseUrl" value="https://demo.bnz.co.nz/client/" />
		<add key="Browser" value="Firefox" />
		<add key="ChrmDriverPathForSysPath" value="Drivers\" />		
		<add key="geckoDriverPathToSetSysPath" value="Drivers\" />		
	<add key="firefoxBinaryPath" value="C:\Program Files\Mozilla Firefox\firefox.exe" />
	<add key="chromeBinaryPath" value="C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe" />
		<add key="firefoxProfilePath" value="C:\Users\username\AppData\Roaming\Mozilla\Firefox\Profiles\" />
		<add key="chromeProfilePath" value="C:\Users\username\AppData\Local\Google\Chrome\User Data\" />
	</appSettings>
</configuration>